<section>
  <div>
    <img src="../assets/footer.png" />
    <p>A YondLine é uma empresa com <br>foco no desenvolvimento de <br>websites, design gráfico,
      edição de vídeo e social media</p>
      <div class="footer-right">
        <ul>
          <h1>Contato</h1>
          <a href="https://www.instagram.com/yond.line/"><li>@yond.line</li></a>
          <a href="https://api.whatsapp.com/send/?phone=5513996251308&text&type=phone_number&app_absent=0"><li>WhatssApp</li></a>
          <li>Email</li>
        </ul>
    </div>
  </div>
  <p class="direitos">Todos os direitos reservados © 2022 </p>
</section>
